<header id="header">
    <h1>{{ site.title }}</h1>
    <p>
      {{ site.description }}
    </p>
    
    <ul class="icons">

      {% for social in site.social %}
      <li>
        <a href="{{ social.portal }}" class="icon brands {{ social.awesomeIcon }}"
          ><span class="label">{{ social }}</span></a
        >
      </li>
      {% endfor %}
      <li>
        <a href="#" class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
      <li>
        <a href="#" class="icon brands fa-github"
          ><span class="label">Github</span></a
        >
      </li>
      <li>
        <a href="#" class="icon fa-envelope"
          ><span class="label">Email</span></a
        >
      </li>
    </ul>
  </header>