<!--
  name: Major
  type: component
  version: 1.0.2
  status: Staging
-->

<!-- Current Page Ref. Assignment -->
{% assign this = page.id %}

<!-- Intermediary assignment for Liquid Derefencing -->
{% assign dataPointer = site.data.pages[this] %}

<!-- Component Reference Assignment -->
{% assign MajorsRefs = dataPointer.components.Majors %} 


{% for Major in MajorRefs %}
<section>

  <header class="major">
    <h2>{{ Major.header }}</h2>
  </header>
  
  <p>{{ Major.content }}</p>

  {% if Major.actions %}
  <ul class="actions">
    {% for action in Major.actions %}
    <li>
      <a href="{{ action.href }}" class="button">{{ action.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

</section>
{% endfor %}
